/* **************************
 * Sass Variables
 * **************************/

$primary-color: #272727;
$secondary-color: rgb(255, 165, 0);
$accent-color: #ff652f;
$text-color: #fff;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "blak": 900,
);

$mobile: 800px;
